/* Light Mode */
.textLight {
    color: #333333;
}

.textLightOpacity {
    color: rgba(51, 51, 51, 0.75);

}

/* for dark */

.textDark {
    color: #FFFFFF;
}

.textDarkOpacity {
    color: rgba(255, 255, 255, 0.75);
}

/* Dark light background */

.darkCardBackground {
    background: rgba(255, 255, 255, 0.1);
}

/* .darkCardBackgroundOpacity{
    background: rgba(255, 255, 255, 0.1);
} */
/*Light card background */
.lightCardBackground {
    background: #FFFFFF;
}

/* .lightCardBackgroundOpacity{
    color: rgba(0, 0, 0, 0.1);
} */
/* border bottom */
.darkBorderOpacity {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.lightBorderOpacity {
    border-top: 1px solid rgba(51, 51, 51, 0.15);
}


.darkBorderBottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.lightBorderBottom {
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);
}

/* card background */
.darkCardBackground {
    background: rgba(255, 255, 255, 0.1);
}

.lightCardBackground {
    background: rgba(0, 0, 0, 0.02);
    border: #FFFFFF;
}

.darkDollerBackground {
    background: rgba(255, 255, 255, 0.15);
}

.lightDollerBackground {
    background: rgba(240, 79, 41, 0.15);
}

/*Total monthly sale card border */
.priceDarkOpacity {
    border: 1px dashed rgba(255, 255, 255, 0.15);
}

.priceLightOpacity {
    border: 1px dashed rgba(51, 51, 51, 0.15);
}

/* date */

.darkDate {
    color: rgba(255, 255, 255, 0.5);
}

.lightDate {
    color: rgba(51, 51, 51, 0.5);
}

/* sideBar */

.darkSidebarHover:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    border-radius: 10px;
    width: 17vw;
    padding: 10px;
}

.lightSidebarHover:hover {
    background: rgba(240, 79, 41, 0.2);
    color: #F04F29;
    border-radius: 10px;
    width: 17vw;
    padding: 10px;
}

/* sidebar */
.sideBarOpen{

}
.sideBarClose{

}