
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* light and dark mode */

.dark-theme{
  --main-heading:#5f99be;
  --para-clr:#fff;
  --btn-bg-color:#5f99be;
  --bg-text-clr:#fff;
  --bg-clr:#111b20
}
.light-theme{
  --main-heading:#5f99be;
  --para-clr:#333;
  --btn-bg-color:#111b20;
  --bg-text-clr:#fff;
  --btn-bg-clr:#111b20
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
